@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo-1 {
  background: radial-gradient(circle, rgb(230, 61, 28) 26%, rgb(73, 70, 252) 74%);
}

.fondo-2 {
  background: linear-gradient(90deg, rgb(224, 81, 34) 10%, rgb(217, 128, 106) 35%, rgb(59, 188, 184) 48%, rgb(139, 111, 122) 65%, rgb(55, 64, 230) 84%);
}

.fondo-3 {
  background: linear-gradient(90deg, rgb(224, 81, 34) 10%, rgb(217, 128, 106) 35%, rgb(59, 188, 184) 48%, rgb(139, 111, 122) 65%, rgb(55, 64, 230) 84%);
}

.fondo-a {
  background: linear-gradient(90deg, rgb(224, 81, 34) 10%, rgb(217, 128, 106) 35%, rgb(59, 188, 184) 48%, rgb(139, 111, 122) 65%, rgb(55, 64, 230) 84%);
}

.fondo-b {
  background: linear-gradient(90deg, rgb(224, 81, 34) 10%, rgb(217, 128, 106) 35%, rgb(59, 188, 184) 48%, rgb(139, 111, 122) 65%, rgb(55, 64, 230) 84%);
}

.fondo-c {
  background: radial-gradient(circle, rgb(82, 63, 251) 8%, rgb(217, 2, 45) 95%);
}

.fra {
  margin-top: 20px;
  margin-left: 20px;
  color: #f5f5f5;
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.square {
  background-color: rgb(227, 123, 20);
  display: grid;
  grid-template-columns: 50px 250px 50px 250px 50px 250px 50px;
  grid-template-rows: 50px 250px 50px 250px 50px 250px 50px;
  align-content: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .square {
    background-color: #8B0000;
    background-image: none;
    grid-template-columns: 5px 120px 0px 120px 0px 120px 5px;
    grid-template-rows: 750px 100px 100px 100px 100px 100px 200px;
  }
}

.square-titulo {
  margin-top: 0px;
  font-family: "Fira Code", monospace;
  font-size: 30px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .square-titulo {
    margin-top: 0px;
    margin-left: 5px;
    font-family: "Fira Code", monospace;
    font-size: 25px;
    color: #aaacb2;
  }
}

.pa {
  margin-top: 0px;
  font-family: "Fira Code", monospace;
  font-size: 1.5rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .pa {
    margin-top: 0px;
    margin-left: 20px;
    font-family: "Fira Code", monospace;
    font-size: 1.5rem;
    color: #020617;
  }
}

.caja0 {
  grid-column: 2/7;
  grid-row: 2/3;
  font-size: 25px;
  color: rgb(20, 11, 1);
}
@media screen and (max-width: 768px) {
  .caja0 {
    grid-column: 2/7;
    grid-row: 1/2;
    font-size: 10px;
    color: rgb(20, 11, 1);
    background-image: none;
  }
}

.caja1 {
  grid-column: 2/3;
  grid-row: 4/5;
  background-image: linear-gradient(0deg, rgba(0, 1, 0, 0.6), rgba(0, 1, 0, 0.6)), url("../assets/images/Reducción-estrés-ansiedad.png");
}
@media screen and (max-width: 768px) {
  .caja1 {
    grid-column: 2/7;
    grid-row: 2/3;
    font-size: 15px;
    color: rgb(20, 11, 1);
    background-image: none;
  }
}

.caja2 {
  display: grid;
  grid-column: 4/5;
  grid-row: 4/5;
  background-image: linear-gradient(0deg, rgba(0, 1, 0, 0.6), rgba(0, 1, 0, 0.6)), url("../assets/images/flexibilidad-fuerza.png");
}
@media screen and (max-width: 768px) {
  .caja2 {
    grid-column: 2/7;
    grid-row: 3/4;
    font-size: 15px;
    color: rgb(20, 11, 1);
    background-image: none;
  }
}

.caja3 {
  display: grid;
  grid-column: 6/7;
  grid-row: 4/5;
  background-image: linear-gradient(0deg, rgba(0, 1, 0, 0.6), rgba(0, 1, 0, 0.6)), url("../assets/images/equilibrioy-coordinacion.png");
}
@media screen and (max-width: 768px) {
  .caja3 {
    grid-column: 2/7;
    grid-row: 4/5;
    font-size: 15px;
    color: rgb(20, 11, 1);
    background-image: none;
  }
}

.caja4 {
  display: grid;
  grid-column: 2/3;
  grid-row: 6/7;
  background-image: linear-gradient(0deg, rgba(0, 1, 0, 0.6), rgba(0, 1, 0, 0.6)), url("../assets/images/Claridad-mental.png");
}
@media screen and (max-width: 768px) {
  .caja4 {
    grid-column: 2/7;
    grid-row: 5/6;
    font-size: 15px;
    color: rgb(20, 11, 1);
    background-image: none;
  }
}

.caja5 {
  display: grid;
  grid-column: 4/5;
  grid-row: 6/7;
  background-image: linear-gradient(0deg, rgba(0, 1, 0, 0.6), rgba(0, 1, 0, 0.6)), url("../assets/images/sistema-inmunológico.png");
}
@media screen and (max-width: 768px) {
  .caja5 {
    grid-column: 2/7;
    grid-row: 6/7;
    font-size: 15px;
    color: rgb(20, 11, 1);
    background-image: none;
  }
}

.caja6 {
  display: grid;
  grid-column: 6/7;
  grid-row: 6/7;
  background-image: linear-gradient(0deg, rgba(0, 1, 0, 0.241), rgba(0, 1, 0, 0.6)), url("../assets/images/paz-interior.png");
}
@media screen and (max-width: 768px) {
  .caja6 {
    grid-column: 2/7;
    grid-row: 7/8;
    font-size: 15px;
    color: rgb(20, 11, 1);
    background-image: none;
  }
}
.caja6 .video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(242, 12, 12, 0.2);
}
@media screen and (max-width: 768px) {
  .caja6 .video-container {
    width: 500px;
    margin: 0;
  }
}

.sahumerio {
  margin-left: 550px;
  margin-top: 100px;
  width: 100%;
  max-width: 400px;
  height: 300px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(242, 12, 12, 0.2);
  animation: moveDiagonal 6s infinite;
}
@keyframes moveDiagonal {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(200px, -200px);
  }
  50% {
    transform: translate(400px, 0);
  }
  75% {
    transform: translate(0, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.container-fluid {
  height: 300px;
  margin-left: 100px;
  background: linear-gradient(90deg, rgb(131, 58, 180) 15%, rgb(253, 29, 29) 72%, rgba(230, 164, 71, 0.89) 100%);
  font-size: 30px;
  font-family: "Quintessential", serif;
  color: #e0e1e9;
  gap: 200px;
}

.logo {
  width: 100px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 50px;
    height: auto;
  }
}

.portada {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.p-inicio {
  background-image: url(../assets/images/portada.png);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .p-inicio {
    height: 250px;
    background-color: #8B0000;
    background-image: none;
  }
}

.p-cursos {
  width: 100%;
  height: 500px;
  background-image: url(../assets/images/02-cursos.png);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .p-cursos {
    height: 250px;
    background-color: #8B0000;
    background-image: none;
  }
}

.p-retiros {
  height: 500px;
  background-image: url(../assets/images/retiros.jpg);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .p-retiros {
    height: 250px;
    background-color: #8B0000;
    background-image: none;
  }
}

.p-yoga {
  background-image: url(../assets/images/portada-clases.png);
  background-size: cover;
  background-color: #ccc;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .p-yoga {
    height: 250px;
    background-color: #8B0000;
    background-image: none;
  }
}

.p-kundalini {
  background-image: url(../assets/images/kundalini.png);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .p-kundalini {
    height: 250px;
    background-color: #8B0000;
    background-image: none;
  }
}

.p-yoga-en-silla {
  background-image: url(../assets/images/portada-yoga-en-silla.png);
  background-size: cover;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .p-yoga-en-silla {
    height: 250px;
    background-color: #8B0000;
    background-image: none;
  }
}

.nombre {
  color: #f6f0f0;
  font-family: "Ephesis", cursive;
  font-size: 120px;
}

.presentacion {
  background-color: #8B0000;
  display: flex;
  margin-right: 100px;
  margin-top: 100px;
  justify-content: center;
  margin-left: 50px;
  font-size: clamp(24px, 4vw + 1rem, 48px);
}
.presentacion .vivi {
  margin-left: 500px;
  margin-bottom: 25px;
  font-size: 4rem;
  letter-spacing: 1em;
  animation: 2s;
  font-size: 10px;
  color: #29ed1b;
}
@media screen and (max-width: 768px) {
  .presentacion .vivi {
    margin-left: 50px;
    color: #061901;
  }
}

.respiracion {
  color: #0c0101;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
.parrafo-yoga {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4a460;
}
@media screen and (max-width: 768px) {
  .parrafo-yoga {
    margin-left: 25px;
    margin-right: 5px;
    color: #061901;
  }
}

.preguntas-frecuentes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: wrap;
  gap: 30px;
  padding: 80px 20px;
  margin-top: 80px;
  background: linear-gradient(90deg, rgb(224, 81, 34) 10%, rgb(217, 128, 106) 35%, rgb(59, 188, 184) 48%, rgb(139, 111, 122) 65%, rgb(55, 64, 230) 84%);
  border-radius: 12px;
}

.titulo-noticia {
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
  margin-left: 300px;
}

.subtitulo {
  font-size: 25px;
  font-family: "Fira Code", monospace;
  margin-left: 300px;
}

.cuerpo-1 {
  font-size: 25px;
  font-family: "Satisfy", cursive;
  margin-left: 100px;
  margin-right: 100px;
}

.img-noticia {
  margin-left: 500px;
}

.preguntas-frecuentes .titulo {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
  font-size: 3rem;
  color: 800;
  letter-spacing: 2px;
  -webkit-text-fill-color: rgba(229, 238, 229, 0.7921568627);
}

.parra {
  color: #e1ece1;
}

.flexbox-a {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  background: linear-gradient(90deg, rgb(224, 81, 34) 10%, rgb(217, 128, 106) 35%, rgb(59, 188, 184) 48%, rgb(139, 111, 122) 65%, rgb(55, 64, 230) 84%);
  border: 1px solid #e11d1d;
  color: black;
}

.p-2 {
  margin-left: 400px;
}
@media screen and (max-width: 768px) {
  .p-2 {
    margin-right: 40px;
    color: #061901;
  }
}

.pie {
  gap: 10px;
  margin-top: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgb(219, 159, 29) 0%, rgb(227, 30, 69) 100%);
}
.pie .cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
  line-height: 1, 2;
  color: #e0e0e0;
}
.pie .d-flex {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navbar-collapse {
  background-color: none;
}

.dl, ol, ul {
  background-color: none;
  color: #fff;
}
.dl .ul .li .a, ol .ul .li .a, ul .ul .li .a {
  color: #fff;
}
.dl .text-center, ol .text-center, ul .text-center {
  font-size: 31px;
  gap: 10px;
}

.container .ul .li {
  color: #0d0101;
}

.navbar-nav {
  margin-left: 50px;
  width: 100%;
  background-color: transparent;
  color: rgba(34, 51, 34, 0.3333333333);
}
.navbar-nav .img-noticia {
  margin-left: 400px;
}

.conter-999 {
  margin-top: 50px;
}

.p-2 {
  animation: none;
  margin-left: 10px;
}

.presentacion {
  background-color: #722F37;
  display: flex;
  margin-right: 5px;
  margin-top: 5px;
  justify-content: center;
  margin-left: 5px;
  font-size: clamp(24px, 4vw + 1rem, 48px);
  flex-direction: column;
}

@keyframes move none {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
.navbar-collapse {
  width: 100%;
  background: none;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

.img-noticia {
  width: 80%;
  height: auto;
  margin-left: 4px;
}

.titulo-noticia {
  margin-left: 4px;
  font-size: 30px;
}

.subtitulo {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 20px;
}

.cuerpo-1 {
  margin-left: 4px;
  font-size: 20px;
}

.dl, ol, ul {
  background-color: #e4edf0;
}

.container-fluid {
  margin-right: 10px;
  width: 100%;
  height: auto;
}

.nombre {
  font-size: 50px;
  margin-left: 35px;
}

.cuad {
  background-color: #e81c1c;
}

/*# sourceMappingURL=estilos.css.map */
