.fondo-1
    height: 800px
    background: #1534d1
    background: radial-gradient(circle,rgba(21, 52, 209, 1) 6%, rgba(252, 70, 107, 1) 93%)

    .presentacion
        width: 100%
        justify-content: center
        align-items: center
        font-size: clamp(24px, 4vw + 1rem, 48px)
    @media (max-width: 768px)
        margin-left: 2px
        margin-right: 2px
        font-size: 50px
.p-2
    display: flex
    justify-content: center

.vivi
    font-size: 50px
    color: #e7ede2
    margin-left: 30px
    margin-top: 30px
    font-family: cursive
    @media (max-width: 768px)
        color: #71e413
        margin-left: 10px
        margin-top: 30px
        margin-right: 40px
        font-family: 'Courier New', Courier, monospace

.parrafo-yoga
    margin-right: 30px
    margin-top: 20px
    margin-left: 10px
    font-size: 30px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    color: #f9f9f9
    @media (max-width: 768px)
        margin-left: 2px
        margin-right: 2px
        font-size: 25px
        color: #f6f4f4
        text-align: center
.bienvenidos
    color: #f0e9e9
    font-size: 25px
    @media (max-width: 768px)
        margin-left: 2px
        margin-right: 2px
        font-size: 15px
        color: #f6f4f4
        text-align: center
.col-sm-8
    color: #fff
.col
    color: #fff
.tex
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: #f9f3f3
    font-size: 60px

.col-2
    background: url(/assets/images/portada-yoga-en-silla.png)

.p-1
    width: 100%
    font-size: 25PX
    font-style: justify
    text-align: center
    @media (max-width: 768px)
        width: 100%
.tex
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: #f9f3f3
    font-size: 60px

.col-2
    background: url(/assets/images/portada-yoga-en-silla.png)

.p-1
    font-size: 25PX
    font-style: justify
    text-align: center
.respiracion
    font-size: 40px
    color: #df1818
.nav-link
    font-size: 20px
    color: #0d21dc
