.video-terapias
    position: relative
    background-color: #688d3d
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 600px
    margin: 0
    padding: 0
    object-fit: contain
    overflow: clip

.texto-terapias
    display: flex
    justify-content: center
    align-items: center
    font-size: 60px
    z-index: 2
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
